{% extends 'base.html' %}
{% load static %}
{% block title%}Home{% endblock %}
{% block content %}
<div id="wrapper-content mt-5" style="margin-top:100px !important">
    <!-- PAGE WRAPPER-->
    <div id="page-wrapper mt-5">
        <!-- MAIN CONTENT-->
        <div class="main-content mt-5">
            <!-- CONTENT-->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" style="color:black;background-color:black"
                        data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" style="color:black;background-color:black"
                        data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" style="color:black;background-color:black"
                        data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 h-75" style="opacity:0.8"
                            src="{% static 'images/LEAFLET_FRONT.jpg' %}" alt="First slide">

                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 h-75" style="opacity:0.8" src="{% static 'images/Slider1.jpg' %}"
                            alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="" style="padding-left: 30px; color: green; margin-bottom:2vh">All Over India 22
                                Branches</h1>
                            <p style="padding-left: 30px; margin-bottom:20vh; color:green" class="text-info-3">A Mission
                                English Where The Sky is Limit</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 h-75" style="opacity:0.8" src="{% static 'images/Slider2.jpg' %}"
                            alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="text-info-1" style="color:green; margin-bottom:2vh;">Any Body Can Learn English
                            </h1>
                            <p class="text-info-3" style="color:green; margin-bottom:20vh;">Success Is Not Permanent And
                                Failure Is Not Final</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" style="color:black;background-color:black"
                        aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" style="color:black;background-color:black"
                        aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="wpb_wrapper">
                <div>
                    <h4 class="top-title"></h4>
                    <h2 class="center-title"></h2>
                    <div class="bottom-title">
                        <i class="bottom-icon icon-sw-price"></i></div>
                </div>
                <div class="choose-course ">
                    <div class="row choose-course-wrapper block-66701727056c7ee82b0822">
                        <div class="col-md-4 col-xs-6">
                            <div class="item-course item-22">
                                <div class="icon-circle">
                                    <div class="icon-background "><i class="icons-img fas fa-edit"></i></div>
                                    <div class="info">
                                        <div class="info-back">
                                            <a href="/BlossomEducation" class="">Education</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="name-course">
                                    <a>Blossom Education</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <div class="item-course item-24">
                                <div class="icon-circle">
                                    <div class="icon-background "><i class="icons-img fa fa-book"></i></div>
                                    <div class="info">
                                        <div class="info-back">
                                            <a href="/BlossomCoaching" class="">Coaching</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="name-course">
                                    <a>Blossom Coaching</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <div class="item-course item-32">
                                <div class="icon-circle">
                                    <div class="icon-background "><i class="icons-img fa fa-paper-plane"></i></div>
                                    <div class="info">
                                        <div class="info-back">
                                            <a href="/BlossomImmigration" class="">Immigration</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="name-course">
                                    <a>Blossom Immigration </a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-4 col-xs-6">
							<div class="item-course item-35">
								<div class="icon-circle">
									<div class="icon-background"><i class="icons-img icon-sw-media"></i></div>
									<div class="info">
										<div class="info-back">
											<a href="edu-course-category/photography/index" class="">Trick to learning languages</a>
										</div>
									</div>
								</div>
								<div class="name-course">
									<a href="edu-course-category/photography/index">Photography</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6">
							<div class="item-course item-39">
								<div class="icon-circle">
									<div class="icon-background"><i class="icons-img icon-sw-photocamera"></i></div>
									<div class="info">
										<div class="info-back">
											<a href="edu-course-category/social-media/index" class="">Trick to learning languages</a>
										</div>
									</div>
								</div>
								<div class="name-course">
									<a href="edu-course-category/social-media/index">Social media</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6">
							<div class="item-course item-40">
								<div class="icon-circle">
									<div class="icon-background"><i class="icons-img fa fa-database"></i></div>
									<div class="info">
										<div class="info-back">
											<a href="edu-course-category/software/index" class="">Trick to learning languages</a>
										</div>
									</div>
								</div>
								<div class="name-course">
									<a href="edu-course-category/software/index">Software</a>
								</div>
							</div>
						</div>
 -->
                    </div>
                </div>
            </div>
            <!-- WHY CHOOSE US-->
            <div class="section why-choose-us">
                <div class="why-choose-us-wrapper-top">
                    <div class="container">
                        <div class="why-choose-us-wrapper">
                            <h2 class="title-2">Why Blossom?</h2>

                            <p>Our Faculties are one of the best in the field. Students not only respect them but even
                                revere them for their unwavering dedication, Unmatched teaching skill, untiring help and
                                strong empathy with the students. No wonder students like to give regards to their
                                teachers even several years after they have successfully completed the course. </p>

                            <p>At blossom we are known for discipline and dedication. Yes, we ask a lot of our students
                                in these terms but the rewards they get are far sweeter than they could imagine... So,
                                who`s complaining. </p>

                            <p>We strongly believe in inspiring and guiding students to strengthen their strengths &amp;
                                weaken their weaknesses thereby making them confident and well trained individuals ready
                                to take up the challenges of the world. Our program increases their employability.</p>

                            <p>So, Join us to enrich yourselves and in helping us to make you better than the rest!</p>
                            <a href="Contact" class="btn btn-green-2"><span>Join Us</span></a>
                        </div>
                        <div data-wow-delay="0.2s" data-wow-duration="1.2s" class="background-girl-1 wow fadeInUp"
                            style="visibility: hidden; animation-duration: 1.2s; animation-delay: 0.2s; animation-name: none;">
                            <img src="{% static 'images/girl-1.png' %}" alt="" class="img-responsive"></div>
                    </div>
                </div>

                <div class="why-choose-us-wrapper-bottom background-opacity ">
                    <div class="container">
                        <div data-wow-delay="0.4s" data-wow-duration="1s" class="row why-choose-us-wrapper wow zoomIn"
                            style="visibility: hidden; animation-duration: 1s; animation-delay: 0.4s; animation-name: none;">
                            <div class="customs-row">
                                <div class="col-md-4 col-sm-4 col-xs-6 section-icon"><i class="fa fa-user"></i>

                                    <p> 10,000 Plus Satisfied Students</p>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-6 section-icon"><i
                                        class="fas fa-money-bill-wave"></i>

                                    <p> Flexible payment methods</p>
                                </div>
                            </div>
                            <div class="customs-row">
                                <div class="col-md-4 col-md-4 col-sm-4 col-xs-6 section-icon"><i
                                        class="fa fa-paper-plane"></i>

                                    <p> Easy to learning everytime, everywhere</p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-6 section-icon"><i class="fa fa-folder-open"></i>

                                    <p> All Over India 22 Branches</p>
                                </div>
                            </div>
                            <div class="customs-row">
                                <div class="col-md-4 col-sm-4 col-xs-6 section-icon"><i class="fas fa-info"></i>

                                    <p> Full support</p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-6 section-icon"><i class="fas fa-rupee-sign"></i>

                                    <p> Refund if not satisfied after finishing the course</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BUTTON BACK TO TOP-->
<div id="back-top"><a href="#top"><i class="fa fa-angle-double-up"></i></a></div>
</div>
{% endblock %}
{% block js%}{% endblock %}